.top-drawer-container {
    /* positioning and sizing */
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* width: fit-content; */

    /* margin, padding, border*/
    margin: 0;
    padding: 1rem 4rem;
    border: #FFF8E7 0.25rem solid;
    border-top: none;
    border-radius: 0 0 3rem 3rem;

    /* styling */
    background: #0A090E;
    opacity: 0.5;
    transition: all 0.5s;
}

.hidden {
    transform: translateY(-100%) translateX(-50%);
}

.top-drawer-container:hover {
    opacity: 0.95;
    cursor: pointer;
}

.top-drawer-container:active {
    transform: translateY(10%) translateX(-50%);
}

.top-drawer-container h1 {
    margin: 0;
}

.small-text {
    font-size: 1.25rem;
}

.top-drawer-container p {
    margin: 0;

    animation: ZoomIn 0.5s linear;
    animation-fill-mode: backwards;
}

.top-drawer-container .dropdown-icon {
    width: fit-content;
    transform: translateY(4rem);

    transition: all 0.5s;
    animation: ZoomIn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
    animation-fill-mode: backwards;
}


.top-drawer-container .dropdown-icon:hover {
    font-size: 2.5rem;
    transform: translateY(4.5rem);
}