@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible');

body {
  /* basic defaults/constants */
  margin: 0;
  font-family: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
  color: #FFF8E7;
  background: #0A090E;
  display: block;
  overflow: hidden;

  /* text */
  font-size: 2rem;
}

@keyframes ZoomIn {
    from { opacity: 0; font-size: 0; }
    to { opacity: 1; font-size: auto; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
