@keyframes FadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.map-container {
    width: calc(100% - 10rem);
    float: right;
}

.spinner-container {
    width: 100%;
    height: 100%;
    transform: translateY(50%);
}

.bottom-corner {
    position: fixed;
    z-index: 3;
    float: right;
    top: 100%;
    left: 100%;
    transform: translateY(-135%) translateX(-105%);
    rotate: -3deg;
    font-size: 1rem;
}

button {
    font-size: 1rem;
    font-family: "Atkinson Hyperlegible";
    cursor: pointer;
}

.big-vertical-slider {
    /* positioning and sizing */
    width: 2rem;
    height: calc(100% - 2rem);
    margin: 1rem 1.5rem;
    z-index: 3;
    float: left;

    background-color: white;
    border-radius: 0.5rem;
}

.small-vertical-slider {
    /* positioning and sizing */
    width: 2rem;
    height: 50%;
    top: 50%;
    transform:translateY(-50%);
    margin: 1rem 1.5rem;
    z-index: 3;
    float: left;

    background-color: white;
    border-radius: 0.5rem;
}

.thumb {
    width: 4rem;
    height: 3rem;
    background-color: lightgray;
    color: black;
    font-size: 1rem;
    border: black solid 0.125rem;
    border-radius: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.thumb:hover, .thumb:focus {
    cursor: grab;
}

.thumb p {
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.track {
    width: 0.5rem;
    background-color:gray;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: dodgerblue;
    transition: all 0.5s;
}

a:hover {
    color: #0A090E;
    background-color: dodgerblue;
    padding: 0 0.25rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}